<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeyad.usecases">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <service
            android:exported="false"
            android:name=".data.services.GenericJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>"
            </intent-filter>
        </service>
        <service
            android:name="com.zeyad.usecases.data.services.GenericNetworkQueueIntentService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
