<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeyad.usecases">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <service
            android:name="com.zeyad.usecases.data.services.GenericJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.zeyad.usecases.data.services.GenericGCMService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <service
            android:name="com.zeyad.usecases.data.services.GenericNetworkQueueIntentService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
